<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/static/estilos/header.css">
    <link rel="stylesheet" href="/static/estilos/plantillaEditar.css">
    <link rel="icon" href="/static/estilos/img/iconos/favicon.ico" type="image/x-icon">
    <title>Dirección de Turismo</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
</head>
<header class="header">
    <a href="/home"><img class="logo" src="/static/estilos/img/LogoSecretaria.png" alt="logoSecretaria"></a>
    <h4>Editar información de un atractivo</h4>
</header>
<body>

    <table>
        <tbody>
            <form action="/cambiarDatosAtrac/{{atractivo.0}}" method="POST">
                <tr>
                    <td class="infoEditar"><input value="{{atractivo.0}}" name="nombre" ></input></td>
                    <td class="infoEditar"><input value="{{atractivo.1}}" name="direccion"></input></td>
                    <td class="infoEditar"><input value="{{atractivo.2}}" name="telefono"></input></td>
                    <td class="infoEditar"><input value="{{atractivo.3}}" name="pagina"></input></td>
                    <td class="infoEditar">
                        <select name="categoria">
                            <option value="{{atractivo.4}}"selected>{{atractivo.4}}</option>
                            <option value="centrodeconvencion">Centro de convención</option>
                            <option value="club">Club</option>
                            <option value="cine">Cine</option>
                            <option value="museo">Museo</option>
                            <option value="parroquia">Parroquia</option>
                            <option value="iglesia">Iglesia</option>
                        </select>
                    </td>
                    <td class="infoEditar"><input value="{{atractivo.5}}" name="ubicacion" placeholder="Ubicación" required></td>
                    <td>
                        <button type="submit" class="btn btn-success botonConfirmar">Cambiar</button>
                    </td>
                </tr>
            </form>
        </tbody>
</table>

<div class="footer">
    <form action="/atractivosLista" method="POST">
        <!-- <button class="volver botonAtras">
            <img class="botonVolver" src="/static/estilos/img/iconos/iconos panel/volver.png" alt="">
            <h3 class="txtVolver">Volver</h3>
        </button> -->
        <button type="submit" class="btn btn-success volver">Volver</button>
    </form>
</div>
    
</body>
</html>