*{
    margin: 0;
}

header{
    height: 10vh;
    background-color: #A7FFB0;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.header {
    height: 140px;
    background-color: #A7FFB0;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.logo{
    width: 280px;
    height: 100px;
}

h1{
    font-family: 'Poppins',sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    margin-left: 16%;
    text-align: center;

}
h4 {
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-left: 20%;
    text-align: center;
}

.tituloFijo{
    font-family: 'Poppins',sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    margin-left: 12%;
    text-align: center;
}