body{
    position: relative;
   
}

.contenedor{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 8.5rem;
    position: relative;
    height: 64vh;
}

.menu{
    display: grid;
    grid-template-columns: repeat(4,150px);
    grid-template-rows: repeat(2,165px);
    column-gap: 55px;
    row-gap: 55px;

}

.subMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagenMenu{
    height: 150px;
    width: 150px;
    filter: drop-shadow(6px 8px 6px rgba(0,0,0,0.45));
}

a{
    text-decoration: none;
}


h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
}

.btnSalir{
    height: 55px;
    width: 65px;


}

.botonSalir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 6%;
    right: 3%;
    align-items: center;
    height: 60px;
    width: 100px;
    background-color: transparent;
    border: none;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.saludo{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    position: absolute;
    top: 25%;
    left: 5%;
}